<%- include('partials/_header') %> %>

  <div class="text-center">

    <p class="display-4">JAUSSERS CRM</p>
    <p class="display-6">MODULO HUESPEDES</p>
    <button><a href="/new-guest" >Nuevo Huésped</a></button>
    <button><a href="/registro" >Añadir Reserva</a></button>

  </div>
  
</body>
</html>