<%- include('partials/_header') %> %>

  <div class="text-center">

    <h1>CONTROL SERVICIOS PUBLICOS</h1>
    <button class="btn btn-info" ><a class="text-white text-decoration-none" href="/registro" >Registrar facturas</a></button>
    <button class="btn btn-info" ><a class="text-white text-decoration-none" href="/showbills" >Ver facturas</a></button>
    <button class="btn btn-info" ><a class="text-white text-decoration-none" href="/showbills?409" name="prop" value="409" >409</a></button>
    <button class="btn btn-info" ><a class="text-white text-decoration-none" href="/showbills?306" name="prop" value="306" >306A</a></button>
    <button class="btn btn-info" ><a class="text-white text-decoration-none" href="/showbills?501" name="prop" value="501">501A</a></button>
    <button class="btn btn-info" ><a class="text-white text-decoration-none" href="/showbills?510" >510</a></button>
    <button class="btn btn-info" ><a class="text-white text-decoration-none" href="/showbills?702" >702</a></button>
    <button class="btn btn-info" ><a class="text-white text-decoration-none" href="/guest">Huéspedes</a></button>
    <button class="btn btn-info" ><a class="text-white text-decoration-none" href="/reservas">Reservas</a></button>



  </div>
  
</body>
</html>